:root{
    --body-bg: #2D3E52;
    --form-bg: #13232f;
    --blanco: #fff;
    
    --color-principal: #1ab188;
    --color-principal-light: lighten(var(--color-principal),5%);
    --color-principal-dark: darken(var(--color-principal),5%);
    
    --gris-light: #a0b3b0;
    --gris: #ddd;
    
    --thin: 300;
    --normal: 400;
    --bold: 600;
    --br: 4px;
    
    --fuente-principal: "Ubuntu", helvetica;
    --fuente-secundaria: "Raleway", arial;
}

/* Header */

header {
	max-width: 970px;
	margin: 30px auto 50px;
	text-align: left;
	padding: 0 20px;
}

header .logo .icono {
	display: inline-block;
	width: 45px;
	height: 45px;
	background: url(../img/logo_mvm.png) no-repeat;
	background-size: auto 100%;
	vertical-align: middle;
	margin-right: 10px;
}

header .logo span:last-child {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	vertical-align: middle;
}

/* Formulario */

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: var(--body-bg);
    font-family: var(--fuente-principal);
}

a {
    text-decoration: none;
    color: var(--color-principal);
    transition: .5s ease;
}

a:hover {
    color: var(--color-principal-dark);
}

.contenedor-formularios {
    /* background: rgba(var(--form-bg),.9); */
    background-color: var(--form-bg);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: var(--br);
    box-shadow: 0 4px 10px 4px rgba(var(--form-bg),.3);
}


.contenedor-tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.contenedor-tabs:after {
    content: "";
    display: table;
    clear: both;
}

.contenedor-tabs li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(var(--gris-light),.25);
    color: var(--gris-light);
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.contenedor-tabs li a:hover {
    background: var(--color-principal-dark);
    color: var(--blanco);
}

.contenedor-tabs .active a {
    background: var(--color-principal);
    color: var(--blanco);
}

.contenido-tab > div:last-child {
    display: none;
}


h1 {
    text-align: center;
    color: var(--blanco);
    font-weight: var(--thin);
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(var(--blanco),.5);
    transition: all 0.25s ease;
    /* -webkit-backface-visibility: hidden; */
    backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

label.req {
    margin: 2px;
    color: var(--color-principal);
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.active.req {
    opacity: 0;
}

label.highlight {
    color: var(--blanco);
}

input {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid var(--gris-light);
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--blanco);
    border-radius: 0;
    transition: all 0.5s ease;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: var(--color-principal);
}

.contenedor-input {
    position: relative;
    margin-bottom: 40px;
}

.fila-arriba div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.fila-arriba div:last-child { 
    margin: 0;
}

.fila-arriba:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 2rem;
    background: var(--color-principal);
    color: var(--blanco);
    transition: all .5s ease;
    -webkit-appearance: none;
}

.button:hover, :focus {
    background: var(--color-principal-dark);
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
    margin-bottom: 20px;
}


 /* Mediaqueries */
@media screen and (max-width: 500px) {
    .fila-arriba div{
        width: 100%;
    }

    .fila-arriba div:last-child {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-tabs li a {
        width: 100%;
    }
}